body {
    background-color: #000;
}

main {
    max-width: 680px;
    margin: 10px auto 10px auto;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1em;
    padding: 25px;
    color: #a4a4a4;
}

#navbar {
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

#navbar li {
    display: inline;
    padding-left: 35px;
    vertical-align: middle;
}

a:visited, a:link {
    color: #538CFF;
    text-decoration: none;
}

a:hover {
    color: #4063AD;
}

li.active {
    color: #4EBBB7;
}

#me {
    display: flex;
    align-items: center;
}


#me img {
    margin-right: 15px;
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

#me h1 {
    font-size: 2em;
    font-weight: normal;
    color: #efefef;
    margin: 0px
}

p {
    /* text-align: justify; */
}

.code {
    font-family: monospace;
    background-color: #e8e8e8;
    padding: 3px;
}