<!DOCTYPE html>
<html>

<head>
    <title>Justin Cai{% if page.title_text %} | {{ page.title_text }} {% endif %}</title>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92816589-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div id="content">
        <nav id="navbar">
            <div id=left>
                <h1><a href="/">Justin Cai</a></h1>
            </div>
            <div id=right>
                <ul>
                    {% for link in site.data.nav %} {% unless link.text == page.title_text %}
                    <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                    {% else %}
                    <li class="active">{{ link.text }}</li>
                    {% endunless %} {% endfor %}
                </ul>
            </div>
        </nav>
        {{ content }}
    </div>
</body>

</html>